* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 100px;
    align-items: center;
    font-family: "Suwannaphum", serif;
    background: #0C0B10;
    color: #fff;

}

.suwannaphum-thin {
    font-family: "Suwannaphum", serif;
    font-weight: 100;
    font-style: normal;
}

.suwannaphum-light {
    font-family: "Suwannaphum", serif;
    font-weight: 300;
    font-style: normal;
}

.suwannaphum-regular {
    font-family: "Suwannaphum", serif;
    font-weight: 400;
    font-style: normal;
}

.suwannaphum-bold {
    font-family: "Suwannaphum", serif;
    font-weight: 700;
    font-style: normal;
}

.suwannaphum-black {
    font-family: "Suwannaphum", serif;
    font-weight: 900;
    font-style: normal;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    border-radius: 22px;
    background: #1F1E25;
    padding: 10px 30px 10px;
}

.logo {
    color: #4C71F1;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logout {
    color: #4C71F1;
    background: none;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-call {
    color: #818181;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-label {
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-element {
    width: 500px;
}



input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: 1px solid #878787;
    background: #1F1E25;
    color: #828282;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: 1px solid #878787;
    background: #1F1E25;
    color: #828282;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: 1px solid #878787;
    background: #1F1E25;
    color: #828282;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 7px;
    border: 1px solid #878787;
    background: #1F1E25;
    color: #828282;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 22px;
    background: #1F1E25;
}

.button-group {
    min-width: 520px;
    max-width: 560px;
    border-radius: 13px;
    background: #151419;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 15px 40px;
}

.content {
    width: 900px;
    border-radius: 13px;
    background: #151419;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 15px 40px;
}

.table-td{
    padding-left: 10px;
    padding-right: 10px;
}

#unavailable{
    color: #D36565;
}

#disabled-button{
    background: #363534;
    color: #898383;
}

#author {
    color: #939393;
}

#status {
    color: #939393;
}

#date{
    color: #939393;
    font-size: 12px;
}



.button-group button {
    margin: 5px;
    border-radius: 10px;
    background: #4C71F1;
    width: 240px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* flex-shrink: 0; */
}

.table-button {
    margin: 5px;
    border-radius: 7px;
    background: #4C71F1;
    width: 120px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.admin-button{
    margin: 5px;
    border-radius: 7px;
    background: #4C71F1;
    width: 140px;
    height: 60px;
    color: #FFF;
    text-align: center;
    font-family: Suwannaphum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.alert {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 22px;
}

.alert-success {
    color: #82D365;
    border: 1px solid #82D365;
    background: #1A4213;
}

.alert-error {
    color: #D36565;
    border: 1px solid #D36565;
    background: #461919;
}