<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShelfMaster</title>
    <script src="/static/scripts/script.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <h1 class="logo">ShelfMaster</h1>
                <div>
                    <button class="logout" onclick="HandleGet('/')">{{.Username}}</button>
                    <button class="logout" onclick="logout()">Logout</button>
                </div>
            </div>
        </header>
        <div id="message-div"></div>
        <main class="main-content">
            <h1>User History Log</h1>
            <div class="content">
                {{if gt (len .Requests) 0}}
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Accept</th>
                            <th>Reject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Requests}}
                        <tr>
                            <td class="table-td">{{.ID}}</td>
                            <td class="table-td">{{.Username}}</td>
                            <td class="table-td">
                                <button onclick="HandlePost('/admin/adminrequest/accept/{{.ID}}')"
                                    class="table-button">Accept</button>
                            </td>
                            <td class="table-td">
                                <button onclick="HandlePost('/admin/adminrequest/reject/{{.ID}}')"
                                    class="table-button">Reject</button>
                            </td>

                        </tr>
                        {{end}}
                    </tbody>
                </table>
                {{else}}
                <p>No requests for any user</p>
                {{end}}
            </div>
        </main>
    </div>
    <script>document.addEventListener('DOMContentLoaded', displayFlashMessage);</script>
</body>

</html>