<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShelfMaster</title>
    <script src="/static/scripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <h1 class="logo">ShelfMaster</h1>
          <button class="logout" onclick="logout()">Logout</button>
        </div>
      </header>
      <div id="message-div"></div>
      <main class="main-content">
        <h2 class="user-call">hello {{.Username}}!</h2>
        <h1>Welcome to Library!</h1>
        <h2 class="user-call"> Admin Portal</h2>
        <div class="button-group">
          <button onclick="HandleGet('/admin/viewbooks')">View Books</button>
          <button onclick="HandleGet('/admin/viewrequests')">Checkin/Checkout Requests</button>
          <button onclick="HandleGet('/admin/adminrequests')">View Admin Requests</button>
          <button onclick="HandleGet('/admin/addbook')">Add Books</button>
        </div>
      </main>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', displayFlashMessage);
    </script>
  </body>
</html>
